
###> symfony/framework-bundle ###
/.env
/.idea
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/var/cache
/var/log
/var/logs
/var
/vendor/
/docker/.data
/docker/logs
/docker/key
###< symfony/framework-bundle ###
var
vendor
var/log/dev.log
